<h1>
	Admin Page
</h1>
<!-- <ul>

	<li><a ui-sref="add_product">Add Product</a></li>
	<li><a ui-sref="admin-order">View Orders</a></li>


</ul> -->
<!-- <form ng-submit="Ctrl.clearProduct(productId)">
	<input type="number"></input>
	<button>Delete Product</button>
</form> -->



<!-- <div ng-repeat="product in Ctrl.products">
	<strong>{{product.name}}</strong>
	<p>{{product.description}}</p>
	<p>{{product.quantity}}</p>
	<button ng-click="Ctrl.editProduct(product.productId,product)">Edit</button>
</div> -->
<div class="container">
  <div class="row">
    <section> 
      <div class="product-list-view">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4
                      product-style 
                      text-center" 
                      ng-repeat="product in Ctrl.products">
                <div class="row">
                <img src="{{product.image}}" class="col-md-12">
                </div>
                <h2><strong>{{product.name}}</strong></h2>
                <p>${{product.price}}</p>
                <p>In stock: {{product.quantity}}</p>
                <p>Status {{product.status}}</p>

                <button ng-click="Ctrl.editProduct(product.productId,product)" class="btn btn-info">Edit Product</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>