<h1>
	items in cart
</h1>
<div ng-repeat="product in Ctrl.cart">
	<strong>{{product.name}}</strong>
	<p>{{product.price}}</p>

	<button ng-click="(product.customerQuantity = product.customerQuantity-1)">-</button>
	<p>{{product.customerQuantity}}</p>
	
	<button ng-click="(product.customerQuantity = product.customerQuantity+1)">+</button>
</div>



 <div class="modal-footer">
	        <button class="btn btn-primary" type="button" ng-click="Ctrl.ok()">Continue Shopping</button>
	        <button class="btn btn-warning" type="button" ng-click="Ctrl.checkOut()">Proceed to Checkout</button>
	    </div>
