


	<div class="container">
       	<div class="row">
       		<div class="col-lg-12">
       			<h1>
					1. Shipping
				</h1>
				<form>
					
					<div class="col-md-6">
						<input type="text">
					</div>

					<div class="col-md-6">
						<input type="text">
					</div>

					<div class="col-md-12">
						<input type="text">
					</div>

					<div class="col-md-12">
						<input type="text">
					</div>

					<div class="col-md-6">
						<input type="text">
					</div>

					<div class="col-md-6">
						<input type="text">
					</div>
					<div class="col-md-6">
						<input type="text">
					</div>

					<div class="col-md-6">
						<input type="text">
					</div>
					
				</form>
       		</div>
       	</div>
    </div>


    <div class="container">
       	<div class="row">
       		<div class="col-lg-12">
		       	<h1>
					2. Billing
				</h1>
				<form>

					<div class="col-md-12">
						<input type="text">
					</div>

					<div class="col-md-12">
						<input type="text">
					</div>

					<div class="col-md-4">
						<input type="text">
					</div>
					<div class="col-md-4">
						<input type="text">
					</div>
					<div class="col-md-4">
						<input type="text">
					</div>
					
				</form>
       		</div>
       	</div>
    </div>


	<div class="container">
       	<div class="row">
       		<div class="col-lg-12">
	   			<h1>
					3. Confirmation
				</h1>
				<h2>
					In Your Cart
				</h2>
				<div ng-repeat="product in Ctrl.cart">
					<strong>{{product.name}}</strong>
					<p> Product Price {{product.price}}</p>
					<p> Quantity to order{{product.customerQuantity}}</p>
					<p> Product Sub Total {{product.price * product.customerQuantity}}</p>
				</div>
				<h4>Sub Total {{Ctrl.total}}</h4>
				<h4>Tax {{Ctrl.tax}}</h4>
				<h2>Final Total {{Ctrl.final_total}}</h2>
       		</div>


       	</div>
    </div>


	

	
       		
       	

	
       		
       	

	







<button ng-click="Ctrl.addOrder()">Order!</button>
<button ui-sref="shop">I forgot an item</button>