<!-- <h1>
	Edit Product
</h1>
<div class="row">
	<div class="three columns">
		<form ng-submit="Ctrl.editProduct(name,description,price,img,category,quantity,status)">
			<input type="text" ng-model="name" placeholder="name">
			<textarea ng-model="description" placeholder="description"></textarea>
			<input type="text" ng-model="price" placeholder="price">
			<input type="text" ng-model="img" placeholder="image link">
			<input type="text" ng-model="category" placeholder="category">
			<input type="text" ng-model="quantity" placeholder="quantity">
			<select ng-model="status">
					<option value="" selected>Status</option>
					<option value="active">Active</option>
					<option value="inactive">Inactive</option>
			</select>
			<button>Edit Product</button>
		</form>
	</div>
</div>

<div class="addprodtitle">
<h1>
	Add Product
</h1>
</div> -->

<div class="addprodtitle">
<h1>
	Edit Product
</h1>
</div>

<div class="row">
	<div class="addProductAll">
		<form class="form-inline" ng-submit="Ctrl.editProduct(name,description,price,img,category,quantity,status)">

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputName2">Product Name</label>
		    <input type="text" class="form-control" ng-model="name">
		  </div>
		</div>

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputEmail2">Description</label>
		    <textarea type="email" class="form-control" ng-model="description"></textarea>
		  </div>

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputName2">Price</label>
		    <input type="text" class="form-control" ng-model="price">
		  </div>
		  </div>

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputName2">Image URL</label>
		    <input type="text" class="form-control" ng-model="img">
		  </div>
		  </div>

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputName2">Category</label>
		    <input type="text" class="form-control" ng-model="category">
		  </div>
		  </div>

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputName2">Quantity</label>
		    <input type="text" class="form-control" ng-model="quantity">
		  </div>
		  </div>

		<div class="col-md-12">
		  <div class="form-group">
		    <label for="exampleInputName2">Status</label>
		    <select  ng-model="status">
		    	<option value="" selected>Status</option>
				<option value="active">Active</option>
				<option value="inactive">Inactive</option>
		    </select>
		  </div>
		  </div>

		<div class="col-md-12">
		  <button>Edit Product</button>
		  </div>

		</form>
	</div>
</div>
